@font-face {
    font-family: 'ManropeRegular';
    src: url(../fonts/manrope-font/Manrope-Regular.ttf);
  }
  
  @font-face {
    font-family: 'SpaceBold';
    src: url(../fonts/space-grotesk-font/SpaceGrotesk-Bold.ttf);
  }


.main-div{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

