@font-face {
    font-family: 'ManropeRegular';
    src: url(../fonts/manrope-font/Manrope-Regular.ttf);
  }
  
  @font-face {
    font-family: 'SpaceBold';
    src: url(../fonts/space-grotesk-font/SpaceGrotesk-Bold.ttf);
  }


.main-div{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.header p{
    color: #84ffff;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.intrest {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}

