@font-face {
    font-family: 'ManropeRegular';
    src: url(./fonts/manrope-font/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'SpaceBold ';
    src: url(./fonts/space-grotesk-font/SpaceGrotesk-Bold.ttf);
}

body{
    background-color:#1d2a35;

}
.vanshmain {
    width: 350px; 
    height: 350px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.profile {
    display: flex;
    align-items: center; 
    gap: 100px;
    justify-content: center;
    padding-top: 100px;
}

.logos1 {
    display: flex;
    flex-direction: row;
  }
.info{
    gap: 200px;
}
.info .p1{
    color: #ffffff;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 20px;
}
.info .name1{
    color: #ffffff;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.logos1{
    height: 45px;
    gap: 10px;
}

.faded-hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, white, transparent);
    width: 100%;
    margin: 2rem 0;
  }
  
.aboutvansh {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.facts {
    display: flex;
    align-items: center; 
    gap: 90px; 
    justify-content: center ;
  
    
}
  .facts p{
      max-width: 800px;
      text-align: right;
  }
  
  
.about-section .moreinfo h1{
    color: #ffffff;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.about-section .facts p{
    color: #ffffff;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.skill-card {
    display: flex;
  }
  
  .skill-image {
   width: 50px;
   height: 50px;
   align-content: center;
   justify-items: center;
  }
  
  .text-area {
    font-family: 'ManropeRegular', sans-serif;

  }
  .intrests{
    color: #ffffff;
    display: flex;
  }

  .intrest-h1{
    font-family: 'ManropeRegular', sans-serif;
    font-size: 50px;
    display: flex;
    padding-left: 250px;
  }
  .intrests ul{
    padding-left: 290px;   
  }

  .intrests li{
    font-family: 'ManropeRegular', sans-serif;
    font-size: 20px;
  }


  .intrest-h2{
    font-family: 'ManropeRegular', sans-serif;
    font-size: 50px;
    display: flex;
    padding-left: 250px;
  }
.sspan{
    font-style: italic;
    color: gray;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ssspan{
    color: rgb(92, 91, 91);
    font-family:'Times New Roman', Times, serif;
}

.div2 ul li {
    margin-bottom: 20px;
}
  